NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_CLIENT_SECRET="bd12367bbe254508a442e5d45f4ed2b2"
NEXT_PUBLIC_CLIENT_ID="0fe33019faaa4f3daf02ce5d8d075300"
JWT_SECRET="LKSJDHFIUASFKJBFBAIGFafgkansdansm,ndasndlkasndnakfbasdlkasn"

